// Custom styles.
body {
    background:url(https://tvax2.sinaimg.cn/large/007S2YVMgy1gdzg83aryrj31hc0u0wh5.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}

